.div,
.usd {
  position: relative;
}
.div {
  height: 78px;
  flex: 1;
  display: inline-block;
  white-space: nowrap;
  z-index: 1;
}
.usd {
  text-decoration: none;
  align-self: stretch;
  font-weight: 500;
  color: inherit;
}
.parent,
.usdWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.usdWrapper {
  width: 49px;
  flex-direction: column;
  padding: 3.4px 0 0;
  box-sizing: border-box;
  font-size: 24px;
  color: #bdbebf;
}
.parent {
  align-self: stretch;
  flex-direction: row;
  text-align: left;
  font-size: 70px;
  color: var(--color-gray);
  font-family: var(--font-abel);
}
.div1 {
  position: relative;
  white-space: nowrap;
}
.frameGroup,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  gap: 7.8px;
}
.frameWrapper {
  width: 446px;
  flex-direction: row;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.summary {
  text-decoration: none;
  width: 78px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.chart {
  width: 47px;
  color: var(--color-gray);
}
.analysis,
.chart,
.settings,
.statistics {
  position: relative;
  display: inline-block;
}
.statistics {
  text-decoration: none;
  color: inherit;
  min-width: 75px;
}
.analysis,
.settings {
  min-width: 67px;
}
.settings {
  text-decoration: none;
  color: inherit;
}
.settingTitle,
.settingTitleWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.settingTitle {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.settingTitleWrapper {
  width: 574px;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
}
.border,
.separator {
  position: relative;
  box-sizing: border-box;
}
.separator {
  height: 1px;
  width: 1001px;
  border-top: 1px solid #eff1f3;
  max-width: 100%;
}
.border {
  height: 3px;
  width: 70px;
  border-top: 3px solid var(--color-blueviolet);
  z-index: 1;
  margin-left: -842px;
}
.frameContainer,
.frameParent,
.separatorParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameContainer,
.frameParent {
  flex-direction: column;
}
.frameContainer {
  padding: 0 0 17px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  color: var(--color-dimgray);
}
.frameParent {
  gap: 40px;
  text-align: left;
  font-size: var(--font-size-lg);
  color: #67bf6b;
  font-family: var(--font-abel);
}
.background,
.background1,
.background2,
.background3,
.background4,
.background5 {
  width: 62px;
  height: 33px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  display: none;
}
.background1,
.background2,
.background3,
.background4,
.background5 {
  width: 44px;
}
.background2,
.background3,
.background4,
.background5 {
  width: 54px;
}
.background3,
.background4,
.background5 {
  width: 50px;
}
.background4,
.background5 {
  width: 49px;
}
.background5 {
  width: 45px;
}
.border1,
.border3,
.border4 {
  width: 90px;
  height: 3px;
  position: relative;
  border-top: 3px solid var(--color-blueviolet);
  box-sizing: border-box;
  display: none;
}
.border3,
.border4 {
  width: 98px;
}
.border4 {
  width: 101px;
}
.volumeIcon {
  height: 31.3px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  z-index: 1;
}
.fillIcon,
.gridIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.fillIcon {
  top: 1px;
  z-index: 2;
}
.gridParent {
  height: 342px;
  width: 750px;
  position: absolute;
  margin: 0 !important;
  top: -304px;
  left: calc(50% - 375px);
}
.desktop,
.volumeContent,
.volumeContentWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.volumeContent {
  flex: 1;
  flex-direction: row;
  position: relative;
  max-width: 100%;
}
.desktop,
.volumeContentWrapper {
  box-sizing: border-box;
}
.volumeContentWrapper {
  width: 870px;
  flex-direction: row;
  padding: 0 65px;
  max-width: 100%;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: 73.6px 0 66.7px;
  gap: 138px;
  line-height: normal;
  letter-spacing: normal;
}
