.vertical {
  height: 342px;
  width: 1px;
  position: absolute;
  margin: 0 !important;
  bottom: -175px;
  left: 330px;
  border-right: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  z-index: 5;
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.fullscreen {
  position: relative;
  display: inline-block;
  min-width: 83px;
}
.buttonIcons,
.fullscreenCompareIcons {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.fullscreenCompareIcons {
  flex-direction: row;
  gap: var(--gap-3xs);
}
.buttonIcons {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.compare {
  text-decoration: none;
  flex: 1;
  position: relative;
  color: inherit;
}
.buttonIcons1,
.iconParent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.iconParent {
  width: 110px;
  flex-direction: row;
  gap: var(--gap-3xs);
}
.buttonIcons1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
  min-width: 136px;
}
.d {
  position: relative;
  display: inline-block;
  min-width: 18px;
}
.dateShortcuts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-smi) 0 0;
}
.d1 {
  display: inline-block;
  min-width: 21px;
}
.background,
.d1,
.w {
  position: relative;
}
.background {
  height: 33px;
  width: 49px;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  display: none;
}
.w {
  font-size: var(--font-size-lg);
  font-family: var(--font-abel);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 22px;
  z-index: 1;
}
.backgroundParent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-8xs) var(--padding-smi) var(--padding-9xs)
    var(--padding-sm);
  background-color: var(--color-blueviolet);
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.backgroundParent:hover {
  background-color: var(--color-mediumslateblue);
}
.m {
  position: relative;
  display: inline-block;
  min-width: 23px;
}
.dateOptions {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.m1 {
  position: relative;
  display: inline-block;
  min-width: 26px;
}
.mWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-10xs) 0 0;
}
.max,
.y {
  position: relative;
  display: inline-block;
  min-width: 17px;
}
.max {
  min-width: 34px;
}
.horizontal {
  height: 1px;
  width: 751px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 0.5px);
  left: -730px;
  border-top: 1px dashed var(--color-darkgray);
  box-sizing: border-box;
  z-index: 4;
}
.background1 {
  height: 33px;
  width: 109px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray);
  display: none;
}
.horizontalLabel {
  position: relative;
  display: inline-block;
  min-width: 81px;
  z-index: 1;
}
.horizontalSeparatorContainer,
.label {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.label {
  border-radius: var(--br-8xs);
  background-color: var(--color-gray);
  padding: var(--padding-8xs) var(--padding-sm);
  z-index: 5;
}
.horizontalSeparatorContainer {
  position: relative;
}
.lineIcon {
  height: 273px;
  width: 750px;
  position: absolute;
  margin: 0 !important;
  top: -132px;
  left: -730px;
  z-index: 3;
}
.background2 {
  height: 33px;
  width: 98px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  display: none;
}
.div {
  position: relative;
  display: inline-block;
  min-width: 72px;
  z-index: 1;
}
.horizontalSeparatorContainerParent,
.label1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.label1 {
  border-radius: var(--br-8xs);
  background-color: var(--color-blueviolet);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-xs) var(--padding-9xs)
    var(--padding-sm);
  z-index: 4;
}
.horizontalSeparatorContainerParent {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-37xl);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-sm);
  color: var(--color-white);
}
.frameContainer,
.maxParent,
.yearSettings {
  display: flex;
  align-items: flex-start;
}
.maxParent {
  width: 123px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.yearSettings {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.yearSettingsWrapper {
  width: 173px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.navigationButtons {
  flex: 1;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-12xl);
}
.frameWrapper,
.navigationButtons,
.verticalParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.verticalParent {
  flex: 1;
  position: relative;
}
.frameWrapper {
  width: 959px;
  padding: 0 var(--padding-41xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-dimgray);
  font-family: var(--font-abel);
}
